// defining the global styles and changing variables

@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900");

// Set your brand colors
$purple: rgb(159, 104, 235);
$light-grey: #f5f5f5;
$dark: #d6d6d6;
$primary: #3a3e98;
$secondary: #5256bc;
$light-primary: #527cbc;
$light: #4ab1d8;

$green: #00cc86;
$light-green: #bafacd;

$red: #dc3900;
$light-red: #ffe5e3;
$family-sans-serif: "Nunito", sans-serif;
