@import '../../variables.scss';


.toolbar {
    justify-content: center;
    text-transform: uppercase;
    color: $dark;
}

.card {
    padding: 1rem;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 58px;
        color: white;

        &.green {
            color: lighten($green, 12%);
        }

        &.red {
            color: lighten($red, 12%);
        }
    }
}

.add-item-section {
    display: flex;

    // Horizontally and vertically center the text
    justify-content: center;
    align-items: center;

    .add-item-container {
        width: 680px;
    }
}