@import "../../variables.scss";

.toolbar {
  justify-content: center;
  text-transform: uppercase;
  background-color: $primary;
}

.card {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  .mat-card {
    background-color: $secondary;
    width: 100%;
  }

  h2 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 58px;
    color: white;

    &.green {
      color: lighten($green, 12%);
    }

    &.red {
      color: lighten($red, 12%);
    }
  }
}

.add-item-section {
  display: flex;
  padding: 1rem;
}

.add-item-section {
  justify-content: center;
  align-items: center;
}
